.sidebar{
    width: 200px;
    background-color: darkgrey;
    text-align: center;
    margin: 0px 10px 0 0;
}

.sidebar_navigation{
    padding: 15px 0 15px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar_navigation__menu{}

.navigation_menu__item:not(:first-child){
    margin: 15px 0 0 0;
}

.navigation_menu__settings{}

.settings_menu__item{}