*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.container{
  max-width: 1300px;
  height: 500px;
  background-color: cornflowerblue;
  margin: 0 auto;
}

header{
  padding: 10px 0 10px 0;
  background-color: blueviolet;
  text-align: center;
}

main{
  display: flex;
  background-color: darkcyan;
  height: 100%;
}

.sidebar{
  width: 200px;
  background-color: yellow;
  text-align: center;
}

.sidebar-navigation{
  margin: 30px 0 0 0;
}
.navigation-menu_item:not(:first-child){
  margin: 15px 0 0 0;
}

.content{
  width: 100%;
}

.content-info{
  margin: 15px 0 0 15px;
}

.user-info{
  display: flex;
}

.user-personal_avatar{
  margin: 0 15px 0 0;
}

.user-personal_info p:not(:first-child){
  margin: 5px 0 0 0;
}

footer{

}



